.container {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 40px;
  text-align: center;
  padding: 10px 0px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(0, 0, 161);
  border: 5px solid rgb(0, 202, 252);
  border-radius: 20px;
  background-color: rgba(10, 199, 199, 0.4);
}
.title {
  margin: 0px;
}
